# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.make
*.cmake
*.json
chi_build/CMakeFiles/*
build/*
bin/*
chi_build/*.*vtu
chi_build/CMakeCache.txt
Makefile
chi_build/Makefile
chi_build/CFEMDiffSolver/*

.idea/*
